
body {
    border: 3px solid black;
    /* background-image:url(./media/background.jpg); */
    color:yellow;
    font-size: 18px;
    font-weight: bold;

    background: url(./media/background.jpg) no-repeat fixed right center, black url(./media/berchtesgaden.jpg) no-repeat fixed center center;
    background-size: cover;
}
h1{
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: 3;
    animation-direction: alternate;
}

@keyframes slidein {
    from {
      margin-right: 100%;
      width: 300%;
    }

    75% {
        font-size: 300%;
        margin-right: 25%;
        width: 150%;
      }
  
    to {
      margin-right: 0%;
      width: 100%;
    }
  }

  


.container{
    position: relative;
    height: 500px;
    background-color: lightskyblue;
}

.profil{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    align-items: center;
}

.child1{
    height: 150px;
    width: 150px;
    border-radius: 50%;

}
.child2, .child3{
   text-align: start;
}

.child4{
    text-align: justify;
    padding-left: 10%;
    padding-right: 15%;
    font-size: .8rem;
    /* position:relative; */ /* Transparent */
    position:relative;

}

.button{
    border: 0 none; 
    outline: none; 
    display: block;
    background-color:#FAC745 ;
    border-radius: 10%;
    text-align: center;
    font-size: 1.2rem;
    margin-top: 10px;
    padding: 10px;   
    margin: 0 auto 0 auto;  
    z-index:1;
    position: sticky;
    top:0;
}   
    
@media only screen and (min-width:768px){

    .container {
        height: 350px;
    }
    .profil{
        justify-content: space-around;
    }
    .child1{
        margin-top: 20px;
        margin-left: 0px;
        margin-right: 20px;

    }
    .child2{
        padding-left: 5px;
        padding-right: 5px;
    }
    .child3{
        padding-left: 5px;
    }
}


/* ANIMATION */

.hello{
    width: 1080px;
}